<header id="masthead" class="site-header {{ site.header.bg }}">
  <div class="site-header-wrap">
    <div class="site-header-inside">
      <div class="site-branding">
        <p class="profile">
          <a href="{{ '/' | relative_url }}"><img src="{{ site.header.profile_img | relative_url }}"
              class="avatar" alt="Author Avatar" /></a>
        </p>
        <div class="site-identity">
          <h1 class="site-title"><a href="{{ '/' | relative_url }}">{{ site.header.title }}</a></h1>
          <p class="site-description">{{ site.header.tagline }}</p>
        </div>
        <div class="social-links">
          {% for link in site.data.social.links %}
          <a href="{{ link.url }}" target="_blank" rel="noopener">
            {% if link.icon contains 'http' %}
              <img src="{{ link.icon }}" alt="{{ link.title }}" class="custom-icon" />
            {% else %}
              <span class="fab {{ link.icon }}" aria-hidden="true"></span>
            {% endif %}
            <span class="screen-reader-text">{{ link.title }}</span>
          </a>
          {% endfor %}
          <a href="https://github.com/joe-sharp" class="social-link" target="_blank" rel="noopener"><span class="fab fa-github" aria-hidden="true"></span> View Profile</a>
        </div>
      </div>
    </div>
  </div>
</header>
