{% assign display_projects = site.github.public_repositories | sort: "updated_at" | reverse %}
{% if display_projects.size > 0 %}
<section id="{{ include.section.section_id }}" class="block">
  {% assign title = include.section.title %}
  {% if title %}
  <h2 class="block-title">{{ title }}</h2>
  {% endif %}
  <div class="projects-feed">
    {% for project in display_projects limit:include.section.num_posts_displayed %}
      <article class="project">
        <h3 class="project-title">
          <a href="{{ project.html_url }}" target="_blank">{{ project.name }}</a>
        </h3>
        <div class="project-content">
          <p>{{ project.description }}</p>
          {% if project.language %}
          <p class="project-meta">
            Primary Language: {{ project.language }}
          </p>
          {% endif %}
        </div>
      </article>
    {% endfor %}
  </div>
  {% assign actions = include.section.actions %}
  {% if actions %}
  <p class="block-cta">
    {% for action in actions %}
    <a href="{{ action.url }}" class="button">{{ action.label }}</a>
    {% endfor %}
  </p>
  {% endif %}
</section>
{% endif %}
