<!doctype html>
<html>
    <head>

        <title>{% if title_is_not_empty %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="google" content="notranslate" />
        <meta name="description" content="a Blog by Joe Sharp" />
        <meta name="keywords" content="Joe Sharp, Programming, Programmer, Guru, Genius, Mac Genius, Hacker, Engineer" />
        <meta name="author" content="Joe Sharp" />
        <meta name="robots" content="index, follow" />
        <meta name="revisit-after" content="1 month" />
        <meta property="og:title" content="Sharpscription">
        <meta property="og:description" content="a Blog by Joe Sharp">
        <meta property="og:image" content="https://blog.joe-sharp.com/thumbnail.jpg">
        <meta property="og:url" content="https://blog.joe-sharp.com/index.html">
        <meta name="twitter:card" content="summary_large_image">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">

    </head>
    <body>

        {{ content }}
        <script src="{{ 'assets/js/plugins.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/main.js' | relative_url }}"></script>
    </body>
</html>
